<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!--link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"-->

        {% block head %}{% endblock %}
    </head>
    <body>

        
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container py-5 text-center">
                <h3 style="text-align: center">Upgrad Capstone project by Somnath Abhishek</h3><br>
            {% block body %}{% endblock %}
            </div> 
        </div>   
        <script src="" async defer></script>
    </body>
</html>