{% extends 'base.html' %}

{% block head %}
<title>Sentiment Analysis Product Recommendation System</title>
{% endblock %}

{% block body %}
<main class="content">

    <h1 style="text-align: center">Sentiment Based Product Recommender </h1>
    <br>

   
    <div class="container py-5">
    
        <form action="/" method="POST" >
            <div class="form-floating">
                <!-- <input type="text" name="username" id="username" placeholder="Enter username">
                <br><br>
                <input type="submit" value="Recommend Me Products"> -->

                <select name="usersList" id="username">
                    {% for user in users %}
                    <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input class="btn btn-primary" type="submit" value="Recommend Products">
                
            </div>
            
        </form>
        
    </div>

    {% if products|length < 1 %}
    <h4 style="text-align: center"> There are no products to show</h4>
    {% else %}
    
    <table class="table"> 
        <tr>
            <th> Top Recommended Products for you </th>           
        </tr>
        {% for product in products %}
        
        <tr>
            <td>{{ product }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</main>

{% endblock %}